


<fieldset>
    <div class="inputs">
<label for="">Email :</label> <input type="text" [(ngModel)]="Etudiant.email" placeholder="foulanfoulani@gmail.com"> <br><br>
<label for="">classe  :</label> <input type="text" [(ngModel)]="Etudiant.classe" placeholder="section informatique "> <br><br>
<label for="">Note :</label>  <input type="text" [(ngModel)]="Etudiant.Note" placeholder="votre note"><br><br>
<button (click)="addEtudiant()">Ajouter </button>
</div>
<div class="legend1"></div>
</fieldset>

    <table border="solid" *ngFor="let i of AjoutEtudiant" >
        <td>id:  
            <tr>{{i.id}} </tr>
        </td>

        <td >email : 
            <tr>{{i.email}}</tr> </td>
        <td>classe :
            <tr> {{i.classe}}</tr></td>
        <td>Note : 
            <tr>{{i.note}}</tr>  </td>

    </table>
   



